NODE_ENV=development
PORT=5000

CLIENT_ORIGIN=http://localhost:3000

MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/credify_dev

JWT_ACCESS_SECRET=replace_with_long_random_string
JWT_REFRESH_SECRET=replace_with_a_different_long_random_string